// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2020-2024 Variscite Ltd.
 */

#include "imx8mp-var-som.dtsi"

/ {
	model = "Xilica Testarossa Board based on Variscite Symphony-Board with VAR-SOM-MX8M-PLUS";

	chosen {
		stdout-path = &uart2;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&pinctrl_gpio_sw>;
		pinctrl-names = "default";
		status = "okay";

		Swpb {
			label = "Swpb";
			linux,code = <KEY_HOME>;
			gpios = <&gpio5 23 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pinctrl_gpio_led>;
		pinctrl-names = "default";
		status = "okay";

		// pin 154, v1.1, GPIO3_IO29
		green {
			label = "led:green";
			gpios = <&gpio3 29 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		// pin 175, v1.1, GPIO5_IO22
		red {
			label = "led:red";
			gpios = <&gpio5 22 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		// pin 156, v1.1, GPIO3_IO28
		blue {
			label = "led:blue";
			gpios = <&gpio3 28 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	// This node does not appear anywhere in arthurs original kernel or patch
    pcie0_refclk: pcie0-refclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	reg_usdhc2_vmmc: regulator-usdhc2-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		// Remove GPIO, that should work for custom
		//gpio = <&gpio4 22 GPIO_ACTIVE_HIGH>;
		//enable-active-high;
		startup-delay-us = <100>;
		off-on-delay-us = <12000>;
	};

	reg_usdhc2_vqmmc: regulator-usdhc2-vqmmc {
		compatible = "regulator-gpio";
		regulator-name = "VSD_VSEL";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 0
			  1800000 1>;
	};

	sound_hdmi: sound_hdmi {
		compatible = "fsl,imx-audio-hdmi";
		model = "audio-hdmi";
		audio-cpu = <&aud2htx>;
		hdmi-out;
		constraint-rate = <44100>,
				<88200>,
				<176400>,
				<32000>,
				<48000>,
				<96000>,
				<192000>;
		status = "disabled";
	};

	ak4558: codec {
		#sound-dai-cells = <0>;
		compatible = "asahi-kasei,ak4558";
		//compatible = "linux,snd-soc-dummy";
		//clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_MCLK1>;
		//clock-names = "mclk";
		status = "okay";
	};

	sound-ak4558 {
		compatible = "simple-audio-card";

		simple-audio-card,bitclock-master = <&sai2_dai>;
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&sai2_dai>;
		simple-audio-card,name = "ak4558-audio";
		simple-audio-card,routing =
			"Headphone Jack", "AOUTL",
			"Headphone Jack", "AOUTR",
			"AINL", "Line In Jack",
			"AINR", "Line In Jack";
		simple-audio-card,widgets =
			"Headphone", "Headphone Jack",
			"Microphone", "Line In Jack";
		simple-audio-card,mclk-fs = <512>;

		// This will make ALSA work with device
		dailink_ak_master: simple-audio-card,codec {
			sound-dai = <&ak4558>;
		};
		/* force SAI2 as master */
		sai2_dai: simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};
	};
};

// Ethernet 1: eqosethernet@30bf0000
&eqos {
	phy-reset-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
	mdio {
		ethphy1: ethernet-phy@5 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <5>;
			at803x,eee-disabled;

            // BEGIN: IN Arthur's original kernel
            at803x,vddio-1p8v;
			// END:   IN Arthur's original kernel

            eee-broken-1000t;

            // BEGIN: NOT-IN Arthurs original kernel
            reset-gpios = <&pca9534 5 GPIO_ACTIVE_LOW>;
			reset-assert-us = <10000>;
			reset-deassert-us = <20000>;
			vddio-supply = <&vddio1>;

			vddio1: vddio-regulator {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
			// END:   NOT-IN Arthurs original kernel

		};
	};
};

// Ethernet 0 : fec: ethernet@30be0000
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;

    // BEGIN: IN Arthurs original kernel but not in 6.6/scarthgap
	phy-reset-duration = <10>;
	phy-reset-post-delay = <20>;
    // END:   IN Arthurs original kernel but not in 6.6/scarthgap

    status = "okay";
};

&flexspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "disabled";
};

&i2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c3>;
	pinctrl-1 = <&pinctrl_i2c3_gpio>;
	scl-gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
	status = "okay";

	/* USB Type-C Controller */
	extcon_ptn5150: typec@3d {
		compatible = "nxp,ptn5150";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_extcon>;
		reg = <0x3d>;
		interrupt-parent = <&gpio1>;
		interrupts = <5 IRQ_TYPE_LEVEL_HIGH>;
		irq-is-id-quirk;
		status ="okay";

        // BEGIN: NOT-IN Arthurs original kernel
		port {
			typec_dr_sw: endpoint {
				remote-endpoint = <&usb3_drd_sw>;
			};
		};
        // END:   NOT-IN Arthurs original kernel
	};

};

&i2c4 {
	clock-frequency = <400000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	pinctrl-1 = <&pinctrl_i2c4_gpio>;
	scl-gpios = <&gpio5 20 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
	status = "okay";

	/* ABRACON AB1805 */
	/* DS1337 RTC module */
	rtc@69 {
		compatible = "abracon,ab1805";
		reg = <0x69>;
		status = "okay";
	};
};

/* Header */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "disabled";
};

/* Console */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

/* Header */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "disabled";
};

&usb3_phy0 {
	fsl,phy-tx-vref-tune = <0xe>;
	fsl,phy-tx-preemp-amp-tune = <3>;
	fsl,phy-tx-vboost-level = <5>;
	fsl,phy-comp-dis-tune = <7>;
	fsl,pcs-tx-deemph-3p5db = <0x21>;
	fsl,phy-pcs-tx-swing-full = <0x7f>;
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb_dwc3_0 {
	//dr_mode = "otg";
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	extcon = <&extcon_ptn5150>;
    status = "okay";

    // BEGIN: NOT-IN Arthurs original kernel
	usb-role-switch;
	role-switch-default-mode = "none";
	snps,dis-u1-entry-quirk;
	snps,dis-u2-entry-quirk;
	port {
		usb3_drd_sw: endpoint {
			remote-endpoint = <&typec_dr_sw>;
		};
	};
    // END:   NOT-IN Arthurs original kernel
};

&usb3_phy1 {
	fsl,phy-tx-preemp-amp-tune = <3>;
	fsl,phy-tx-vref-tune = <0xb>;
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "peripheral";
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>;
	cd-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	vqmmc-supply = <&reg_usdhc2_vqmmc>;
	bus-width = <4>;
	status = "okay";
};

&sai3 {
	status = "disabled";
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_IPG>,
			<&clk IMX8MP_CLK_DUMMY>,
			<&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_MCLK1>,
			<&clk IMX8MP_CLK_DUMMY>,
			<&clk IMX8MP_CLK_DUMMY>,
			<&clk IMX8MP_AUDIO_PLL1_OUT>,
			<&clk IMX8MP_AUDIO_PLL2_OUT>;

	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	//fsl,sai-mclk-direction-output;
	fsl,sai-synchronous-rx;
	//fsl,sai-asynchronous;
	status = "okay";
};

&gpio5 {
	pinctrl-0 = <&pinctrl_gpio_ac>;
	acrst_gpio_hog {
		//gpio = <&gpio5 28 GPIO_ACTIVE_HIGH>;
		gpio-hog;
		gpios = <28 0>;
		output-high;
		line-name = "ac_reset";
	};

};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_gpio_ac: acrst {
		fsl,pins = <
			MX8MP_IOMUXC_UART4_RXD__GPIO5_IO28				0x1c2
		>;
	};

	pinctrl_gpio_sw: swgrp {
		fsl,pins = <
			MX8MP_IOMUXC_UART1_TXD__GPIO5_IO23				0x1c4
		>;
	};

	pinctrl_gpio_led: ledgrp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_CEC__GPIO3_IO28				0x1c2
			MX8MP_IOMUXC_HDMI_HPD__GPIO3_IO29				0x1c2
			MX8MP_IOMUXC_UART1_RXD__GPIO5_IO22				0x1c4
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_EXT_CLK__PWM1_OUT				0x116
		>;
	};

	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD4__ENET1_RGMII_RD0				0x90
			MX8MP_IOMUXC_SAI1_RXD5__ENET1_RGMII_RD1				0x90
			MX8MP_IOMUXC_SAI1_RXD6__ENET1_RGMII_RD2				0x90
			MX8MP_IOMUXC_SAI1_RXD7__ENET1_RGMII_RD3				0x90
			MX8MP_IOMUXC_SAI1_TXC__ENET1_RGMII_RXC				0x90
			MX8MP_IOMUXC_SAI1_TXFS__ENET1_RGMII_RX_CTL			0x90
			MX8MP_IOMUXC_SAI1_TXD0__ENET1_RGMII_TD0				0x00
			MX8MP_IOMUXC_SAI1_TXD1__ENET1_RGMII_TD1				0x00
			MX8MP_IOMUXC_SAI1_TXD2__ENET1_RGMII_TD2				0x00
			MX8MP_IOMUXC_SAI1_TXD3__ENET1_RGMII_TD3				0x00
			MX8MP_IOMUXC_SAI1_TXD4__ENET1_RGMII_TX_CTL			0x00
			MX8MP_IOMUXC_SAI1_TXD5__ENET1_RGMII_TXC				0x00

			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11					0x10
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_ALE__FLEXSPI_A_SCLK				0x1c2
			MX8MP_IOMUXC_NAND_CE0_B__FLEXSPI_A_SS0_B			0x82
			MX8MP_IOMUXC_NAND_DATA00__FLEXSPI_A_DATA00			0x82
			MX8MP_IOMUXC_NAND_DATA01__FLEXSPI_A_DATA01			0x82
			MX8MP_IOMUXC_NAND_DATA02__FLEXSPI_A_DATA02			0x82
			MX8MP_IOMUXC_NAND_DATA03__FLEXSPI_A_DATA03			0x82
		>;
	};

	pinctrl_i2c3: i2c3grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C3_SCL__I2C3_SCL					0x400001c2
			MX8MP_IOMUXC_I2C3_SDA__I2C3_SDA					0x400001c2
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL					0x400001c2
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA					0x400001c2
		>;
	};

	pinctrl_i2c6: i2c6grp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_CEC__I2C6_SCL					0x400001c2
			MX8MP_IOMUXC_HDMI_HPD__I2C6_SDA					0x400001c2
		>;
	};

	pinctrl_i2c3_gpio: i2c3gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C3_SCL__GPIO5_IO18				0x1c2
			MX8MP_IOMUXC_I2C3_SDA__GPIO5_IO19				0x1c2
		>;
	};

	pinctrl_i2c4_gpio: i2c4gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__GPIO5_IO20				0x1c2
			MX8MP_IOMUXC_I2C4_SDA__GPIO5_IO21				0x1c2
		>;
	};

	pinctrl_i2c6_gpio: i2c6gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_CEC__GPIO3_IO28				0x1c2
			MX8MP_IOMUXC_HDMI_HPD__GPIO3_IO29				0x1c2
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			// MX8MP_IOMUXC_SAI2_TXFS__AUDIOMIX_SAI2_TX_SYNC			0xd6
			// MX8MP_IOMUXC_SAI2_TXC__AUDIOMIX_SAI2_TX_BCLK			0xd6
			MX8MP_IOMUXC_SAI2_RXD0__AUDIOMIX_SAI2_RX_DATA00			0xd6
			MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI2_TX_DATA00			0xd6
			MX8MP_IOMUXC_SAI2_MCLK__AUDIOMIX_SAI2_MCLK				0xd6
			MX8MP_IOMUXC_SAI2_RXFS__AUDIOMIX_SAI2_RX_SYNC			0xd6
			MX8MP_IOMUXC_SAI2_RXC__AUDIOMIX_SAI2_RX_BCLK			0xd6
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART1_RXD__UART1_DCE_RX				0x40
			MX8MP_IOMUXC_UART1_TXD__UART1_DCE_TX				0x40
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART2_RXD__UART2_DCE_RX				0x40
			MX8MP_IOMUXC_UART2_TXD__UART2_DCE_TX				0x40
		>;
	};

    // BEGIN: IN Arthurs original kernel, NOT IN 6.6 / scarthgap
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_SCLK__UART3_DCE_RX				0x140
			MX8MP_IOMUXC_ECSPI1_MOSI__UART3_DCE_TX				0x140
			MX8MP_IOMUXC_ECSPI1_MISO__UART3_DCE_CTS				0x140
			MX8MP_IOMUXC_ECSPI1_SS0__UART3_DCE_RTS				0x140
		>;
	};
    // END: IN Arthurs original kernel, NOT IN 6.6 / scarthgap

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART4_RXD__UART4_DCE_RX				0x40
			MX8MP_IOMUXC_UART4_TXD__UART4_DCE_TX				0x40
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2grp-gpio {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14				0x1c4
			// MX8MP_IOMUXC_SAI2_RXC__GPIO4_IO22				0x10
			MX8MP_IOMUXC_SD2_CD_B__GPIO2_IO12				0xc0
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK				0x190
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD				0x1d0
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d0
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d0
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d0
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp-100mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK				0x194
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD				0x1d4
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d4
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d4
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d4
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d4
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp-200mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK				0x196
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD				0x1d6
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d6
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d6
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d6
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d6
		>;
	};

	pinctrl_ecspi2: ecspi12grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_SCLK__ECSPI2_SCLK				0x12
			MX8MP_IOMUXC_ECSPI2_MOSI__ECSPI2_MOSI				0x12
			MX8MP_IOMUXC_ECSPI2_MISO__ECSPI2_MISO				0x12
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13				0x12
		>;
	};

	pinctrl_captouch: captouchgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_TX__GPIO5_IO03				0x16
		>;
	};

	pinctrl_extcon: extcongrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05				0x10
		>;
	};

	pinctrl_flexcan2: flexcan2grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART3_RXD__CAN2_TX					0x154
			MX8MP_IOMUXC_UART3_TXD__CAN2_RX					0x154
		>;
	};

	pinctrl_csi0: csi0grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO00__GPIO1_IO00				0x10
			MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08				0x10
			>;
	};

	pinctrl_csi1: csi1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXD7__GPIO4_IO09				0x10
			MX8MP_IOMUXC_SAI1_TXD0__GPIO4_IO12				0x10
			>;
	};
};
